Repository Hat-Trick-Consulting-Group/genarchi, pull requests merged in 2023-12, with the labels that each got.

#31 [FIX][FRONT] Fonction de refresh
  frontend/src/index.tsx
Labels: front

#27 Add K6 folder and fix P3 Frontend build
  k6_tests/README.md
  k6_tests/tests1_p3.js
  terraform/P3/5.0-build-frontend.tf
Labels: terraform, front, scripts

#33 [TESTS] Added working K6 test
  k6_tests/README.md
  k6_tests/health_test.js
  k6_tests/image.png
  k6_tests/tests1_add-clients.js
  k6_tests/tests1_p3.js
  terraform/P3/5.0-build-frontend.tf
  terraform/README.md
Labels: back, scripts
