Repository Hat-Trick-Consulting-Group/genarchi, pull requests merged in 2023-11, with the labels that each got.

#10 [P2][V2] Separate db from app
  README.md
  backend/.env.development
  backend/go.mod
  backend/go.sum
  backend/main.go
  db_config/.env.development
  docker-compose.yml
  terraform/P2/main.tf
  terraform/P2/modules/alb_asg/main.tf
  terraform/P2/modules/alb_asg/outputs.tf
  terraform/P2/modules/database/main.tf
  terraform/P2/modules/database/outputs.tf
  terraform/P2/modules/database/variables.tf
  terraform/P2/modules/vpc/main.tf
  terraform/P2/modules/vpc/variables.tf
  terraform/P2/scripts/database_user_data.sh
  terraform/P2/scripts/webapp_user_data.sh
  terraform/P2/vars.tf
  terraform/P2/vpc/outputs.tf
  terraform/P2/vpc/vpc.tf
Labels: web2, back, terraform

#12 [FRONT][FIX] Ajout / suppression sans utilisateurs
  frontend/src/ClientTable.tsx
Labels: front

#11 [P3][TERRAFORM] Ajout de l'api gateway
  terraform/P3/3-api-gateway.tf
  terraform/P3/4.0-health-api-gateway.tf
  terraform/P3/4.1-add-client-api-gateway.tf
  terraform/P3/4.2-get-clients-api-gateway.tf
  terraform/P3/4.3-update-client-api-agetway.tf
  terraform/P3/4.4-delete-client-api-gateway.tf
  terraform/P3/lambdas/tf-add-client/add-client.js
  terraform/P3/lambdas/tf-delete-client/delete-client.js
  terraform/P3/lambdas/tf-get-clients/get-clients.js
  terraform/P3/lambdas/tf-update-client/update-client.js
  terraform/P3/response.json
Labels: web3, back, terraform

#13 [P3][TERRAFORM] Ajout d'un bucket S3 et du host du front
  .gitignore
  terraform/P3/5.0-build-frontend.tf
  terraform/P3/5.1-create-bucket.tf
  terraform/P3/5.2-move-frontend-to-bucket.tf
  terraform/P3/locals.tf
Labels: web3, terraform, front

#14 [P3][TERRAFORM] Ajout d'une DB dynamoDB
  terraform/P3/0.1-dynamo-db.tf
  terraform/P3/4.0-health-api-gateway.tf
  terraform/P3/4.1-add-client-api-gateway.tf
  terraform/P3/4.2-get-clients-api-gateway.tf
  terraform/P3/4.3-update-client-api-agetway.tf
  terraform/P3/4.4-delete-client-api-gateway.tf
Labels: web3, back, terraform

#16 [INFRA][BACK][REFACTO] Archivage du psql
  psql/backend/.env.development
  psql/backend/Dockerfile
  psql/backend/go.mod
  psql/backend/go.sum
  psql/backend/main.go
  psql/backend/models/models.go
  psql/backend/psql/psql.go
  psql/backend/routes/routes.go
  psql/db_config/.env.development
  psql/docker-compose.yml
Labels: web2, back

#18 [BACK] Ajout des routes CRUD
  README.md
  backend/.env.development
  backend/main.go
  backend/models/models.go
  backend/psql/psql.go
  backend/routes/routes.go
Labels: web2, back

#19 [INFRA 2] install and start mongodb scripts on ec2
  terraform/P2/scripts/mongodb/README.md
  terraform/P2/scripts/mongodb/install_mongodb.sh
  terraform/P2/scripts/mongodb/mongod.conf
  terraform/P2/scripts/mongodb/start_mongodb.sh
Labels: web2, scripts

#22 [P2] [TERRAFORM] Cloudwatch
  terraform/P2/main.tf
  terraform/P2/modules/alb_asg/outputs.tf
  terraform/P2/modules/cloudwatch/main.tf
  terraform/P2/modules/cloudwatch/variables.tf
Labels: terraform

#21 [P3][TERRAFORM] Fix depreciated warning bucket
  README.md
  frontend/vite.config.ts
  terraform/P3/1-lambda-bucket.tf
  terraform/P3/5.0-build-frontend.tf
  terraform/P3/5.1-create-bucket.tf
  terraform/P3/5.2-move-frontend-to-bucket.tf
Labels: web3, terraform

#23 [P3][TERRAFORM] Setup d'un cloud front pour le bucket static
  terraform/P3/5.1-create-bucket.tf
  terraform/P3/5.2-move-frontend-to-bucket.tf
  terraform/P3/6-create-cloud-front.tf
Labels: web3, terraform

#24 [TERRAFORM][P2][DB] Install mongodb on ubuntu + mongosh working
  terraform/P2/main.tf
  terraform/P2/scripts/database_user_data.sh
  terraform/P2/scripts/mongodb/install_mongodb.sh
  terraform/P2/scripts/mongodb/mongod.conf
Labels: terraform, scripts, database

#25 [P2][DB] Mongodb local replication
  terraform/P2/scripts/database_user_data.sh
  terraform/P2/scripts/mongodb/generate_mongod_conf.sh
  terraform/P2/scripts/mongodb/mongod.conf
  terraform/P2/scripts/mongodb/setup_replication.sh
  terraform/P2/scripts/mongodb/start_mongodb.sh
  terraform/P2/scripts/webapp_user_data.sh
Labels: scripts, database

#26 [P2][IAC][DB] Mongodb iac replication
  terraform/P2/main.tf
  terraform/P2/modules/alb_asg/main.tf
  terraform/P2/modules/cloudwatch/main.tf
  terraform/P2/modules/cloudwatch/variables.tf
  terraform/P2/modules/database/instance_database/main.tf
  terraform/P2/modules/database/instance_database/outputs.tf
  terraform/P2/modules/database/instance_database/variables.tf
  terraform/P2/modules/database/sg_database/main.tf
  terraform/P2/modules/database/sg_database/outputs.tf
  terraform/P2/modules/database/sg_database/variables.tf
  terraform/P2/modules/database/variables.tf
  terraform/P2/modules/vpc/main.tf
  terraform/P2/scripts/database_user_data.sh
  terraform/P2/scripts/mongodb/setup_replication.sh
  terraform/P2/scripts/webapp_user_data.sh
Labels: terraform, scripts, database

#29 [P2][IAC] Dissociate front and back => asg front, asg back
  terraform/P2/main.tf
  terraform/P2/modules/alb_asg/main.tf
  terraform/P2/modules/alb_asg/outputs.tf
  terraform/P2/modules/alb_asg/variables.tf
  terraform/P2/modules/cloudwatch/main.tf
  terraform/P2/modules/cloudwatch/variables.tf
  terraform/P2/modules/database/sg_database/main.tf
  terraform/P2/modules/database/sg_database/variables.tf
  terraform/P2/scripts/backend_user_data.sh
  terraform/P2/scripts/frontend_user_data.sh
Labels: terraform, scripts

#30 [P2][FRONT][SCRIPT] Ip address frontend in frontend
  frontend/src/index.tsx
  terraform/P2/scripts/frontend_user_data.sh
Labels: front, scripts
